@{
    var CitaRealizada = ViewData["CitaRealizada"] as string;
    var errorCita = ViewData["errorCita"] as string;
    var FechaAnterior = TempData["FechaAnterior"] as string; 

}
<div class="col-md-6">
    <a asp-controller="Citas" asp-action="NuevaCitaVista" role="button" class="btn buttonPrincipal p-2 mb-3">
        <i class="bi bi-person-add p-2 fs-5">Nueva Cita</i>
    </a>
</div>
<div class="card-body">
    @if (ViewBag.Citas != null)
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th class="tableCustom">Fecha Cita</th>
                    <th class="tableCustom">Oficina</th>
                    <th class="tableCustom">Motivo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cita in ViewBag.Citas)
                {
                    <tr>
                        <td>@cita.FechaCita</td>
                        <td>@cita.OficinaDireccion</td>
                        <td>@cita.MotivoCita</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="card-title text-center text-danger">No hay usuarios registrados</h5>
    }
</div>
@if (!string.IsNullOrEmpty(CitaRealizada)) 
{
    <script>
        mostrarNotificacion("Cita Realizada", "La Cita se a realizado con exito", 'success');
    </script>
}
@if (!string.IsNullOrEmpty(errorCita))
{
    <script>
        mostrarNotificacion("Error", "Error al dar la cita", 'error');
    </script>
}
@if (!string.IsNullOrEmpty(FechaAnterior))
{
    <script>
        mostrarNotificacion("Error De Fecha", "La Fecha de la Cita no puede ser anterior a hoy", 'error');
    </script>
}