﻿@{
    ViewData["Title"] = "Home";
}

<div class="container py-4">
    <div class="jumbotron text-center cardPrincipal">
        <h2 class="display-4 text-dark tituloPrincipal">AlceBank</h2>
        <p class="lead text-dark">El lugar Seguro del dinero.</p>
        <hr class="border border-dark border-2 opacity-55 w-50 mx-auto mt-2">
        
    </div>
</div>